@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="card">
    <div class="card-header">
        Index
    </div>
    <div class="card-body">
        <p>While India has to successfully battle the second wave, it is important not to create panic, but stay calm. The surge will settle soon—but for that, a mix of scientific, administrative and behavioural changes are essential</p>
    </div>
</div>